table,td{
font-size: 30px;
border: solid 1px black;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
table,th{
    font-size: 30px;
    border: solid 1px black;
}
.linguagens{
    background-color: plum;
}
.cn{
    background-color: rgb(177, 177, 219);
}
.tecnico{
    background-color: greenyellow;
}
.pv{
    background-color: rgb(81, 81, 148);
}
.matematica{
    background-color: rgb(192, 93, 93);
}
.bb{
    background-color: orange;
}
.generico{
    background-color: gray;
}



